.cv_img{
    width: 10vw;
    border-radius: 50%;
}

.Flex{
    display: flex;
    justify-content: space-between;
    margin: 2% 6em;
    gap: 15%;
    flex-wrap: wrap
}

.Flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em;
    gap: 25%;
    flex-wrap: wrap;
    padding-top: 2%;
}

.Flex_Item1{
    flex: 1;
}

.Flex_Item2{
    flex: 3;
}

.Flex_Item3{
    flex: 3;
}

.flex_item5 {
    flex:4
}

.flex_item2 {
    flex:3
}

.flex_item {
    flex: 2;
}

.Cv_Container{
    background-color: rgb(43, 37, 48);
    margin: 0;
    line-height: 1.2rem;
}

@media screen and (max-width:768px) {
    .Cv_Container p{
        font-size: 1.5vw;
    }

    .Cv_Container h3{
        font-size: 2vw;
    }

    .Cv_Container h4{
        font-size: 1.8vw;
    }
    .Cv_Container h5,   .Cv_Container span{
        font-size: 1.6vw;
    }

    .Cv_Container li{
        font-size: 1.5vw;
    }

    .Cv_Container{
        background-color: rgb(20, 18, 34);
        padding: 0%;
        line-height: 1rem;
    }
}


