.cv_img{
    width: 10vw;
}

.Cv_Container{
    background-color: rgb(43, 37, 48);
    padding: 5em;
    line-height: 1.2rem;
}



@media screen and (max-width:768px) {
    .Cv_Container p{
        font-size: 1.5vw;
    }

    .Cv_Container h3{
        font-size: 2vw;
    }

    .Cv_Container h4{
        font-size: 1.8vw;
    }
    .Cv_Container h5,   .Cv_Container span{
        font-size: 1.6vw;
    }

    .Cv_Container li{
        font-size: 1.5vw;
    }

    .Cv_Container{
        background-color: rgb(20, 18, 34);
        padding: 0%;
        line-height: 1rem;
    }
}